form {
    min-width: 400px;
    display: flex;
    flex-direction: column;

}

input {
    margin: 2%;
}

.button {
    background-color: #E64944;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 2%;
}